<app-sidebar></app-sidebar>
<div class="container">
    <h1 class="text-center">The Quiz</h1>
    <div class="card p-2 m-2">
        <p class="choose">The Questions</p>
        <div *ngFor="let item of questions;let i = index">

            <!-- <p><b>Question {{i+1}} is:</b> {{item.question}}</p> -->
            <fieldset>
                <legend><p><b>Question {{i+1}}</b>{{item.question}}</p></legend>
                <div>
                  <input type="radio" id="ch1" value="1" name = {{i}} [(ngModel)]="value[i]">
                  <label for="ch1">{{item.choice_1}}</label>
                </div>
            
                <div>
                  <input type="radio" id="ch2" value="2" name = {{i}} [(ngModel)]="value[i]">
                  <label for="ch2">{{item.choice_2}}</label>
                </div>
            
                <div>
                  <input type="radio" id="ch3" value="3" name = {{i}} [(ngModel)]="value[i]">
                  <label for="ch3">{{item.choice_3}}</label>
                </div>

                <div>
                    <input type="radio" id="ch4" value="4" name = {{i}} [(ngModel)]="value[i]">
                    <label for="ch4">{{item.choice_4}}</label>
                  </div>
            </fieldset>
            
            
            <hr *ngIf="i == questions.length">
        </div>
        <div class="error" [style.display]="displayAlert">
            <p>You should answer all questions</p>
        </div>
        <button (click)="print()" class="btn btn-secondary w-25 float-end my-1">Submit Quiz</button>

    </div>
</div>