<app-sidebar></app-sidebar>
<div class="row">
  <div id="create_account" class="col-9">
    <div [style.display]="displayStudDone">
      <form [formGroup]="StudentForm" (ngSubmit)="onSubmit()">
        <div class="container col-lg-50 my-2" >
          <div class="card">
            <div class="row">
              <h1 class="text-center" style="color:#00539CFF ;">Create Account</h1>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label for="name">Full Name
                  <small *ngIf="(submitted || std['name'].touched) && std['name'].invalid">
                    <small *ngIf="std['name'].errors && std['name'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <input type="text" formControlName="name" placeholder="enter full name" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Phone
                    <small *ngIf="std['phone'].errors && std['phone'].errors['minlength']">
                      * enter only 11 numbers *
                    </small>
                    <small *ngIf="std['phone'].errors && std['phone'].errors['maxlength']">
                      * enter only 11 numbers *
                    </small>
                </label>
                <input type="tel" formControlName="phone" placeholder="enter phone number" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>National Id
                  <small *ngIf="(submitted || std['national_id'].touched) && std['national_id'].invalid">
                    <small *ngIf="std['national_id'].errors && std['national_id'].errors['required']">
                      * required *
                    </small>
                    <small *ngIf="std['national_id'].errors && std['national_id'].errors['minlength']">
                      * enter only 14 numbers *
                    </small>
                    <small *ngIf="std['national_id'].errors && std['national_id'].errors['maxlength']">
                      * enter only 14 numbers *
                    </small>
                  </small>
                </label>
                <input type="tel" formControlName="national_id" placeholder="enter national id or passport id" class="form-control" required>
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Address</label>
                <input type="tel" formControlName="address" placeholder="Governorate-City-Street" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Birth Date
                  <small *ngIf="(submitted || std['birth_date'].touched) && std['birth_date'].invalid">
                    <small *ngIf="std['birth_date'].errors && std['birth_date'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <input type="date" formControlName="birth_date" placeholder="enter birth date" class="form-control" required>
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label for="gender" class="col-4">Gender
                  <small *ngIf="(submitted || std['gender'].touched) && std['gender'].invalid">
                    <small *ngIf="std['gender'].errors && std['gender'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <div>
                  <input type="radio" id="male" value="M" formControlName="gender" class="form-check-input col-2">
                  <label for="male" class="form-check-label"> <pre style="font-size: 100%;"> Male </pre></label>
                  <input type="radio" id="female" value="F" formControlName="gender" class="form-check-input">
                  <label for="female" class="form-check-label"><pre style="font-size: 100%;"> Female</pre></label>
                </div>
              </div>
              <div class="student" [style.display]="displayStudDone">
                <div class="col-5 ms-5 mt-3 ps-1">
                  <label>Student Class
                    <small *ngIf="(submitted || std['class'].touched) && std['class'].invalid">
                      <small *ngIf="std['class'].errors && std['class'].errors['required']">
                        * required *
                      </small>
                    </small>
                  </label>
                  <input type="text" formControlName="class" placeholder="enter student class" class="form-control" required>
                </div>
                <div class="col-5 ms-5 mt-3 ps-1">
                  <label>Parent Name
                    <small *ngIf="(submitted || std['parent_name'].touched) && std['parent_name'].invalid">
                      <small *ngIf="std['parent_name'].errors && std['parent_name'].errors['required']">
                        * required *
                      </small>
                    </small>
                  </label>
                  <input type="text" formControlName="parent_name" placeholder="enter parent name" class="form-control" required>
                </div>
                <div class="col-5 ms-5 mt-3 ps-1">
                  <label>Parent National Id
                    <small *ngIf="(submitted || std['parent_national_id'].touched) && std['parent_national_id'].invalid">
                      <small *ngIf="std['parent_national_id'].errors && std['parent_national_id'].errors['required']">
                        * required *
                      </small>
                      <small *ngIf="std['parent_national_id'].errors && std['parent_national_id'].errors['minlength']">
                        * enter only 14 numbers *
                      </small>
                      <small *ngIf="std['parent_national_id'].errors && std['parent_national_id'].errors['maxlength']">
                        * enter only 14 numbers *
                      </small>
                    </small>
                  </label>
                  <input type="text" formControlName="parent_national_id" placeholder="enter parent name" class="form-control" required>
                </div>
                <div class="col-5 ms-5 mt-3 ps-1">
                  <label>Parent Job
                    <small *ngIf="(submitted || std['parent_job'].touched) && std['parent_job'].invalid">
                      <small *ngIf="std['parent_job'].errors && std['parent_job'].errors['required']">
                        * required *
                      </small>
                    </small>
                  </label>
                  <input type="text" formControlName="parent_job" placeholder="enter parent Job" class="form-control" required>
                </div>
              </div>
              <div class="col-2 ms-5 my-3 ps-3">
                <button style="background-color: #00539CFF; color:white;" [disabled]="StudentForm.invalid" class="form-control">Submit</button>
              </div>
              <!-- <div class="col-2 ms-5 my-3 ps-3">
                <input type="reset" class="btn btn-primary">
              </div> -->
            </div>
          </div>
        </div>
      </form>
    </div>
    <div [style.display]="displayTeacDone">
      <form [formGroup]="TeacherForm" (ngSubmit)="onSubmit()">
        <div class="container col-lg-50 my-2" >
          <div class="card">
            <div class="row">
              <h1 class="text-center" style="color:#00539CFF ;">Create Account</h1>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label for="name">Full Name
                  <small *ngIf="(submitted || tea['name'].touched) && tea['name'].invalid">
                    <small *ngIf="tea['name'].errors && tea['name'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <input type="text" formControlName="name" placeholder="enter full name" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Phone
                    <small *ngIf="tea['phone'].errors && tea['phone'].errors['minlength']">
                      * enter only 11 numbers *
                    </small>
                    <small *ngIf="tea['phone'].errors && tea['phone'].errors['maxlength']">
                      * enter only 11 numbers *
                    </small>
                </label>
                <input type="tel" formControlName="phone" placeholder="enter phone number" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>National Id
                  <small *ngIf="(submitted || tea['national_id'].touched) && tea['national_id'].invalid">
                    <small *ngIf="tea['national_id'].errors && tea['national_id'].errors['required']">
                      * required *
                    </small>
                    <small *ngIf="tea['national_id'].errors && tea['national_id'].errors['minlength']">
                      * enter only 14 numbers *
                    </small>
                    <small *ngIf="tea['national_id'].errors && tea['national_id'].errors['maxlength']">
                      * enter only 14 numbers *
                    </small>
                  </small>
                </label>
                <input type="tel" formControlName="national_id" placeholder="enter national id or passport id" class="form-control" required>
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Address</label>
                <input type="tel" formControlName="address" placeholder="Governorate-City-Street" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Birth Date
                  <small *ngIf="(submitted || tea['birth_date'].touched) && tea['birth_date'].invalid">
                    <small *ngIf="tea['birth_date'].errors && tea['birth_date'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <input type="date" formControlName="birth_date" placeholder="enter birth date" class="form-control" required>
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label for="gender" class="col-4">Gender
                  <small *ngIf="(submitted || tea['gender'].touched) && tea['gender'].invalid">
                    <small *ngIf="tea['gender'].errors && tea['gender'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <div>
                  <input type="radio" id="male" value="M" formControlName="gender" class="form-check-input col-2">
                  <label for="male" class="form-check-label"> <pre style="font-size: 100%;"> Male </pre></label>
                  <input type="radio" id="female" value="F" formControlName="gender" class="form-check-input">
                  <label for="female" class="form-check-label"><pre style="font-size: 100%;"> Female</pre></label>
                </div>
              </div>
              <div class="teacher" [style.display]="displayTeacDone">
                <div class="col-5 ms-5 mt-3 ps-1">
                  <label>Subject
                    <small *ngIf="(submitted || tea['subject'].touched) && tea['subject'].invalid">
                      <small *ngIf="tea['subject'].errors && tea['subject'].errors['required']">
                        * required *
                      </small>
                    </small>
                  </label>
                  <input type="text" formControlName="subject" placeholder="enter his subject" class="form-control" required>
                </div>
              </div>
              <div class="col-2 ms-5 my-3 ps-3">
                <button style="background-color: #00539CFF; color:white;" [disabled]="TeacherForm.invalid" class="form-control">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div [style.display]="displayStafDone">
      <form [formGroup]="StaffForm" (ngSubmit)="onSubmit()">
        <div class="container col-lg-50 my-2" >
          <div class="card">
            <div class="row">
              <h1 class="text-center" style="color:#00539CFF ;">Create Account</h1>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label for="name">Full Name
                  <small *ngIf="(submitted || staf['name'].touched) && staf['name'].invalid">
                    <small *ngIf="staf['name'].errors && staf['name'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <input type="text" formControlName="name" placeholder="enter full name" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Phone
                    <small *ngIf="staf['phone'].errors && staf['phone'].errors['minlength']">
                      * enter only 11 numbers *
                    </small>
                    <small *ngIf="staf['phone'].errors && staf['phone'].errors['maxlength']">
                      * enter only 11 numbers *
                    </small>
                </label>
                <input type="tel" formControlName="phone" placeholder="enter phone number" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>National Id
                  <small *ngIf="(submitted || staf['national_id'].touched) && staf['national_id'].invalid">
                    <small *ngIf="staf['national_id'].errors && staf['national_id'].errors['required']">
                      * required *
                    </small>
                    <small *ngIf="staf['national_id'].errors && staf['national_id'].errors['minlength']">
                      * enter only 14 numbers *
                    </small>
                    <small *ngIf="staf['national_id'].errors && staf['national_id'].errors['maxlength']">
                      * enter only 14 numbers *
                    </small>
                  </small>
                </label>
                <input type="tel" formControlName="national_id" placeholder="enter national id or passport id" class="form-control" required>
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Address</label>
                <input type="tel" formControlName="address" placeholder="Governorate-City-Street" class="form-control">
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label>Birth Date
                  <small *ngIf="(submitted || staf['birth_date'].touched) && staf['birth_date'].invalid">
                    <small *ngIf="staf['birth_date'].errors && staf['birth_date'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <input type="date" formControlName="birth_date" placeholder="enter birth date" class="form-control" required>
              </div>
              <div class="col-5 ms-5 mt-3 ps-3">
                <label for="gender" class="col-4">Gender
                  <small *ngIf="(submitted || staf['gender'].touched) && staf['gender'].invalid">
                    <small *ngIf="staf['gender'].errors && staf['gender'].errors['required']">
                      * required *
                    </small>
                  </small>
                </label>
                <div>
                  <input type="radio" id="male" value="M" formControlName="gender" class="form-check-input col-2">
                  <label for="male" class="form-check-label"> <pre style="font-size: 100%;"> Male </pre></label>
                  <input type="radio" id="female" value="F" formControlName="gender" class="form-check-input">
                  <label for="female" class="form-check-label"><pre style="font-size: 100%;"> Female</pre></label>
                </div>
              </div>
              <div class="staff" [style.display]="displayStafDone">
                <div class="col-5 ms-5 mt-3 ps-1">
                  <label>Job/ٌRole
                    <small *ngIf="(submitted || staf['job'].touched) && staf['job'].invalid">
                      <small *ngIf="staf['job'].errors && staf['job'].errors['required']">
                        * required *
                      </small>
                    </small>
                  </label>
                  <input type="text" formControlName="job" placeholder="enter his roles in school" class="form-control" required>
                </div>
              </div>
              <div class="col-2 ms-5 my-3 ps-3">
                <button style="background-color: #00539CFF; color:white;" [disabled]="StaffForm.invalid" class="form-control">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="sele" class="col-2">
    <label>select person</label>
    <select class="form-control" [(ngModel)]="selection" (change)="change_selection()">
      <option value="" [disabled]="true"> Select which one</option>
      <option *ngFor="let c of person" [value]="c?.name">{{ c?.name }}</option>
    </select>
  </div>
</div>
