<div class="container">
  <h2 class="py-3">School Website</h2>
  <ul>
    <li><a href="profile">profile</a></li>
    <li *ngIf="isStaff"><a href="set_grades">Set Grades</a></li>
    <li *ngIf="isStudent"><a href="show_grades">Grades</a></li>
    <li *ngIf="isStaff"><a href="set_examsTable">Set Exam's Table</a></li>
    <li *ngIf="isStudent"><a href="show_examTable">Exam Table</a></li>
    <li *ngIf="isStaff"><a href="set_schedule">Set Schedule</a></li>
    <li *ngIf="isStaff"><a href="create_account">Create Account</a></li>
    <li *ngIf="isTeacher"><a href="new_Quiz">Add new Quiz</a></li>
    <li *ngIf="isStudent"><a href="Quiz">Quizzes</a></li>
    <li *ngIf="isStudent||isTeacher"><a href="show_schedule">Schedule</a></li>
    <li *ngIf="isParent"><a href="show_fees">Fees</a></li>
    <br />
  </ul>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <a class="btn btn-secondary" href="log">Log Out</a>
</div>
