<app-sidebar></app-sidebar>
<div class="row">
    <div class="col-9" [style.display]="displaytable">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
              </tr>
            </thead>
            <tbody >
                <tr *ngFor="let item of Student" >
                    <th scope="row" class="col-3">{{item.id}}</th>
                    <td class="col-3">{{item.name}}</td>
                    <td class="col-3">
                        <input type="text" value="{{item.grade}}" [(ngModel)]="item.grade">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-2 ms-5 my-3 ps-3">
            <button style="background-color: #00539CFF; color:white;" (click)="submit()" class="form-control">Submit</button>
          </div>
    </div>
    <div class="col-2">
        <label>select Class</label>
        <select class="form-control" [(ngModel)]="selection" (change)="change_selection()">
        <option value="" [disabled]="true"> Select which one</option>
        <option *ngFor="let c of class" [value]="c?.name">{{ c?.name }}</option>
        </select>
    </div>
</div>
