*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Jost', sans-serif;
	box-sizing: content-box;
	background: linear-gradient(to bottom, #00539CFF, #EEA47FFF);
}
html {
    margin: 0px;
    padding: 0px;
	overflow: hidden;
} 
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #00539CFF;
	background: #fff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #324a53;
}

#chk:checked ~ .login label{
	transform: scale(.6);
}
.error{
	background-color: rgba(207, 79, 79,0.6);
	color: black;
	margin: auto;
	padding: 2px;
	width: 75%;
	border-radius: 3px;
	border: solid red;
	font-size: 13px;
	text-align: center;
}
.done{
	background-color: rgba(48, 172, 163, 0.6);
	color: black;
	margin: auto;
	padding: 2px;
	width: 75%;
	border-radius: 3px;
	border: solid green;
	font-size: 13px;
	text-align: center;
}